.Header {
    width: 100%;
    height: 10vh;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.Logo {

    font-family: 'ABeeZee', sans-serif;
    font-size: 30px;
    font-weight: 700;
}

.navbar {
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

a {
    font-size: 20px;
    color: black;
    font-family: 'ABeeZee', sans-serif;
    text-decoration: none;

    letter-spacing: 2px;
}